@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,500;1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);
    --Black:hsl(212, 21%, 14%);
    --Grey:hsl(228, 12%, 48%);
    --Cream:hsl(30, 38%, 92%);
    --White:hsl(0, 0%, 100%);
}
body{
    font-family: "Montserrat", sans-serif;
    font-family: "Fraunces", serif;
    font-size: 14px;
    background-color: var(--Cream);
      
}
.container{
    width: 345px;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 60px auto;
    border-radius: 12px;
    background-color: var(--White);


    
}

.product__img .desktop-img{
    display: none;
}
.product__img .mobile-img{
    width: 100%;

}
.perfume{
    margin:0 24px 20px 24px;
    padding-top: 20px;
    color: var(--Grey);
    font-size: 1em;
    letter-spacing: 3px;
}
.essence{
    font-family:"Fraunces", serif;
    font-size: 30px;
    margin: 0 24px 16px 24px;
    line-height: 34px;
}
.feature{
    margin: 0 24px 30px 24px;
    color: var(--Grey);
    font-size: 0.9em;
    line-height: 20px;

}
.price{
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0 24px 20px 24px;

}
.total__price{
    font-family:"Fraunces", serif ;
    font-weight: 700;
    font-size: 30px;
    color: var(--Green500);

}
.full__price{
    color: var(--Grey);
    text-decoration: line-through;
}
.button{
    width: 294px;
    height: 50px;
    background-color: var(--Green500);
    border-radius: 8px;
    color: var(--White);
    border: none;
    display: block;
    margin: auto;
    font-size: 16px;
    font-family:"Montserrat", sans-serif;
    font-weight: 700;

}
.button:hover{
    cursor: pointer;
    background-color: var(--Green700);
}
.icon__button{
    margin-right: 1em;
}

/*Desktop*/
@media(min-width:700px){
    body{
        display: grid;
        place-content: center;
        min-height: 100vh;
    }
    .container{
        width: 610px;
        height: 440px;
        display: flex;
        flex-direction: row;
        margin: 180px auto;
        
    }
    .product__img .desktop-img{
    max-width:100%;
    flex-basis: 50%;
    display: block;
    height: 100%;
    object-fit: cover;

    }
    .product__img .mobile-img{
    display: none;

}
    .product__description{
        width:305px;
       
    }
    .product__description p{
    margin:0 24px 20px 24px;
    padding-top: 20px;
    color: var(--Grey);
    font-size: 1em;
    letter-spacing: 1px;
}
.product__description h1{
    font-family:"Fraunces", serif;
    font-size: 30px;
    margin: 0 24px 16px 24px;
    line-height: 34px;
}
.product__description .feature p{
    margin: 0 24px 30px 24px;
    color: var(--Grey);
    font-size: 0.9em;
    line-height: 20px;

}
.product__description .price{
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0 24px 20px 24px;

}
.product__description .total__price{
    font-family:"Fraunces", serif ;
    font-weight: 700;
    font-size: 30px;
    color: var(--Green500);

}
.product__description .full__price{
    color: var(--Grey);
    text-decoration: line-through;
}
.product__description .button{
    width: 260px;
    height: 50px;
    background-color: var(--Green500);
    border-radius: 8px;
    color: var(--White);
    border: none;
    display: block;
    margin: auto;
    font-size: 16px;
    font-family:"Montserrat", sans-serif;
    font-weight: 500;

}
.product__description .button:hover{
    cursor: pointer;
    background-color: var(--Green700);
}
.product__description .icon__button{
    margin-right: 1em;
}


}
